/lab1/.idea/.gitignore
/.idea/GAMES-105.iml
/lab1/.idea/lab1.iml
/.idea/misc.xml
/lab1/.idea/misc.xml
/.idea/modules.xml
/lab1/.idea/modules.xml
/.idea/other.xml
/.idea/inspectionProfiles/profiles_settings.xml
/lab1/.idea/inspectionProfiles/profiles_settings.xml
/labS/material/test.bam
/.idea/vcs.xml
/lab1/.idea/vcs.xml
.idea
